*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    background-image: url("images/bg-flowers.jpg");
    background-position: 35% 1%;
    background-repeat: no-repeat;
    background-size: 790px;
    color: #515076;
}

.main-title {
    font-size: 70px;
    line-height: 78px;
    text-align: center;
    font-weight: 400;
    margin-top: 220px;
    margin-bottom: 110px;
}

.product-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    width: 1110px;
    height: min-content;
    margin: auto;
}

.product-category {
    font-size: 12px;
    line-height: 24px;
    color: #A5A3B9;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 30px;
}

.product-photo {
    display: block;
}

.product-name {
    font-size: 20px;
    line-height: 27px;
    margin: 5px auto;
}

.compound-list {
    list-style-position: inside;
    padding: 0;
}

.product-price {
    font-size: 20px;
    line-height: 24px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.product-card {
    background-color: #F7F7FA;
    padding: 25px;
    width: 340px;
    height: min-content;
}

.product-description {
    margin-top: 5px;
    margin-bottom: 15px;
}
