.button__text {
    font-family: Verdana;
    font-size: 13px;
    background-color: #A5A3B9;
    padding: 3px;
    font-weight: 700;
    color: #FFFFFF;
}

.button__text--blue {
    color: #4682B4;
}

.button__text--red {
    color: #B22222;
}

.button__text--big {
    font-size: 18px;
}

.button__text--small {
    font-size: 10px;
}

.button__text_font_arial {
    font-family: Arial;
}

.button__text_font_georgia {
    font-family: Georgia;
}

.button__text_bgcolor_lemon {
    background-color: #FFFACD;
}

.button__text_bgcolor_skyblue {
    background-color: #87CEEB;
}