.product-card {
    background-color: #F7F7FA;
    padding: 25px;
    width: 100%;
    height: min-content;
}

.product-card__photo {
    display: block;
}

.product-card__category {
    font-size: 12px;
    line-height: 24px;
    color: #A5A3B9;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 30px;
}

.product-card__name {
    font-size: 20px;
    line-height: 27px;
    margin: 5px auto;
}

.product-card__description {
    margin-top: 5px;
    margin-bottom: 15px;
}

.product-card__price {
    margin-top: 25px;
}

.product-card__button {
    text-align: right;
    margin-top: 10px;
}